---
layout: default
---

{% include hero.html %}

{% assign unique_categories = "html,css,js,react,bakjun" | split: "," %}

<div class="container animate">
  <div class="section__head">
    <h3 class="section__title">Stories</h3>
  </div>
  <div class="row">
    {% for category in unique_categories %}
      {% assign category_posts = site.posts | where: 'categories', category | first %}
      {% if category_posts %}
        {% include summary.html post=category_posts %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- {% include pagination.html %} {% include section-tags.html %} -->